<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  No hay paises que mostrar
</div>


<ng-template #table>
  <table class="table table-hover">
    <header>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Bandera</th>
        <th>Pais</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </header>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common">
        </td>
        <td>{{ country.capital }}</td>
        <td>{{country.population | number}}</td>
        <td><a href="#">ver mas</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
